<!DOCTYPE HTML>
<html>
<head>
  <title>MemoNodes - {{ page.title }} </title>
  <link rel="shortcut icon" href="img/favicon.ico" >
  <link type="text/css" rel="stylesheet" href="css/style.css"> 
  
  <meta name="title" content="MemoNodes - {{ page.title }}">   
  <meta name="keywords" content="chap, memo, memory, graph, database, blackboard, data store, agent, software agent, agent platform, cloud, google app engine, http, json, json-rpc, opensource, open source, web-based" >
  <meta name="description" content="MemoNodes is a generic storage-independent graph database implemented in Java." >
  <meta name="author" content="Almende B.V." >

</head>

<body>

<a href="https://github.com/almende/MemoNodes" style="position: fixed; top: 0; right: 0; border: 0;" >
  <img 
    src="img/forkme_right_darkblue_121621.png" 
    alt="Fork me on GitHub" >
</a>
  
<div id="container">

<div id="menu">
<div id="menu-inner">

<a href="http://almende.github.com/MemoNodes"><img src="img/logo/MemoNodes128.png" alt="logo"></a>
<br>

<div class="nav">
<ul>
  <li>
    MemoNodes
    <ul>
      <li><a class="nav" href="index.html">Introduction</a></li>
      <li><a class="nav" href="protocol.html">Protocol</a></li>
    </ul>
  </li>

  <li>
    Java
    <ul>
      <li><a class="nav" href="overview.html">Overview</a></li>
      <li><a class="nav" href="gettingstarted.html">Getting Started</a></li>
      <li><a class="nav" href="examples.html">Examples</a></li>
    </ul>
  </li>

</ul>
</div>

</div>
</div>

<div id="contents">
  {{ content }}
  
  <div class="lastupdate">
  Last updated: {{ site.time | date_to_long_string }}
  </div>
</div>

</div>
</body>
</html>
